<?xml version="1.0"?>

<!-- XML namespaces -->
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Things that are needed only for Gazebo (not the physical robot).  These include
       sensor and controller plugin specifications -->
  <include filename="$(find gaffa_description)/urdf/maplin_upper_arm/maplin_upper_arm.gazebo.xacro" />
  <include filename="$(find gaffa_description)/urdf/maplin_upper_arm/maplin_upper_arm.transmission.xacro" />
  <include filename="$(find gaffa_description)/urdf/common.xacro" />

  <!-- Inertial properties differ slightly for left vs right arm -->
  <property name="uar_xyz1" value= "0.21398" />
  <property name="uar_xyz2" value="-0.01621" />
  <property name="uar_xyz3" value="-0.00020" />
  <property name="uar_ixx"  value= "0.01537748957" />
  <property name="uar_ixy"  value= "0.00375711247" />
  <property name="uar_ixz"  value="-0.00070852914" />
  <property name="uar_iyy"  value= "0.07473670440" />
  <property name="uar_iyz"  value="-0.00017936450" />
  <property name="uar_izz"  value= "0.07608763307" />

  <property name="ual_xyz1" value= "0.21405" />
  <property name="ual_xyz2" value= "0.01658" />
  <property name="ual_xyz3" value="-0.00057" />
  <property name="ual_ixx"  value= "0.01530603856" />
  <property name="ual_ixy"  value="-0.00339324862" />
  <property name="ual_ixz"  value= "0.00060765455" />
  <property name="ual_iyy"  value= "0.07473694455" />
  <property name="ual_iyz"  value="-0.00019953729" />
  <property name="ual_izz"  value= "0.07601594191" />


  <!-- ============================   Upper Arm   ============================ -->
  <!-- Includes elbow flex, FA roll joints in macros below -->
  <xacro:macro name="maplin_upper_arm" params="side parent reflect">
    <joint name="${side}_upper_arm_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${parent}"/>
      <child link="${side}_upper_arm_link"/>
    </joint>
    <link name="${side}_upper_arm_link">

      <inertial>
        <!-- NOTE:reflect==-1 for right side, reflect==1 for the left side -->
        <mass value="6.01769" />
        <origin xyz="${0.5*((reflect+1)*ual_xyz1+(1-reflect)*uar_xyz1)} ${0.5*((reflect+1)*ual_xyz2+(1-reflect)*uar_xyz2)} ${0.5*((reflect+1)*ual_xyz3+(1-reflect)*uar_xyz3)}" />
        <inertia  ixx="${0.5*((reflect+1)*ual_ixx+(1-reflect)*uar_ixx)}"
                  ixy="${0.5*((reflect+1)*ual_ixy+(1-reflect)*uar_ixy)}"
                  ixz="${0.5*((reflect+1)*ual_ixz+(1-reflect)*uar_ixz)}"
                  iyy="${0.5*((reflect+1)*ual_iyy+(1-reflect)*uar_iyy)}"
                  iyz="${0.5*((reflect+1)*ual_iyz+(1-reflect)*uar_iyz)}"
                  izz="${0.5*((reflect+1)*ual_izz+(1-reflect)*uar_izz)}" />
      </inertial>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://gaffa_description/meshes/link.stl"  />
        </geometry>

        <material name="Green" />
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://pr2_description/meshes/convex/link_convex.stlb" />
        </geometry>
      </collision>

    </link>

    <!-- extensions-->
    <xacro:maplin_upper_arm_gazebo side="${side}" /> <!-- Has upperarm link -->
    <!-- No transmission, since this a fixed joint w/o actuator -->


  </xacro:macro>

</robot>
