<launch>

  <machine name="remote" address="10.42.43.10" user="abroun" default="false">
    <env name="ROS_MASTER_URI" value="http://abroun-laptop:11311"/>
  </machine>

  <!-- SSC32 Server -->
  <node machine="remote" name="ssc32_server" pkg="lynxmotion_arm" type="ROS_SSC32Server.py" respawn="false">
    <rosparam ns="servoConfigData" file="$(find gaffa_bringup)/config/ServoConfig.yaml" command="load" />
  </node>
  
  <!-- Maplin Arm Server -->
  <node machine="remote" name="maplin_arm_server" pkg="maplin_arm" type="ROS_ArmServer.py" respawn="false">
  </node>

  <!-- Webcam -->
  <node machine="remote" name="camera" output="screen" pkg="gscam" type="gscam" respawn="false">
    <env name="GSCAM_CONFIG" value="v4l2src device=/dev/video0 ! videoscale ! video/x-raw-rgb, width=320, height=240 ! ffmpegcolorspace ! identity name=ros ! fakesink"/>
    <remap from="/gscam/image_raw" to="/camera/image"/>
    <remap from="/gscam/camera_info" to="/camera/camera_info"/>
  </node>

</launch>